{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="{% if page.sidebar == false %}no-sidebar{% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %}collapse-sidebar sidebar-footer{% endif %} {{ page.body_class }}">

<div id="wrapper" class="hfeed">
  
  <div id="header">
    <div id="branding">
      <div id="blog-title">
        <a href="/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
      </div>
    </div><!--  #branding -->
    
    <div id="access">
      <div class="skip-link"><a href="#content" title="Skip navigation to the content">Skip to content</a></div><!-- .skip-link -->
        
      <div class="menu"></div>
    </div><!-- #access -->
  </div><!-- #header-->

  <div id="main">  
    <div id="container">
      {{ content | expand_urls: root_url }}
    </div><!-- #container -->

    <aside id="aside-container" data-ga-event="mouseover:sidebar-hover">
      <section id="follow-links" class="aside">
        <label>Follow &amp; Connect</label>

        <ul>
          <li class="twitter"><a href="https://twitter.com/danadams" title="@danadams on Twitter" target="_blank" data-ga-event="connect-twitter"><span>@danadams</span></a></li>
          <li class="linkedin"><a href="http://www.linkedin.com/in/mrdanadams" title="Dan adams Linked In Profile" target="_blank" data-ga-event="connect-linkedin"><span>Linked In</span></a></li>
          <!-- li class="facebook"><a href="http://www.facebook.com/mrdanadams" title="Dan Adams Facebook Profile" target="_blank"><span>Facebook</span></a></li -->
          <!-- li class="github"><a href="https://github.com/mrdanadams" title="Dan Adoms on github" target="_blank"><span>github</span></a></li -->
          <li class="rss"><a href="http://feeds.feedburner.com/MisterDanAdams" title="Dan Adams Post RSS feed" data-ga-event="connect-rss"><span>RSS</span></a></li>
          <!-- li class="cantina"><a href="http://cantina.co/author/dadams" title="Where I work: Cantina Consulting" target="_blank"><span>Cantina Consulting</span></a></li -->
      </ul>
    </section>

    <section id="about-box" class="aside">
      <h3>About Dan</h3>
      <span class="avatar"></span>

      <p>I&apos;m Co-Founder &amp; CTO of <a href="http://www.coeverywhere.com/" target="_blank" rel="nofollow">CO Everywhere</a>, a startup in Boston.</p>
      <!-- p>My focus is emerging technology including Grails, Ruby/Rails, NoSQL, JVM languages, Mobile/Tablet, CSS, and JavaScript.</p -->
    </section>

    <section id="primary" class="aside main-aside">
      <ul class="xoxo">
        {% for post in site.related_posts limit:3 %}
        <li class="widgetcontainer widget_featured_post_widget" data-ga-event="mouseover:related-hover">
          <p class="featured-title">
            <a href="{{ post.url }}" title="{{post.title}}" data-ga-event="related"><span>{{ post.title }}</span></a>
          </p>
          <p>{{ post.content | excerpt | strip_liquid | truncatewords:80 }}</p>
          <a href="{{ post.url }}" title="{{post.title}}" class="more" data-ga-event="related-more"><span>read more &gt;</span></a>
        </li>
        {% endfor %}

<!--
        <li class="widgetcontainer widget_links" id="projects">
          <h3 class="widgettitle">Projects</h3>

          <ul class='xoxo blogroll'>
            <li><a href="http://abnqe.com" title="Browse your Netflix instant queue visually and search for titles" target="_blank">abnqe (A Better Netflix Queue Experience)</a></li>
            <li><a href="http://www.meetup.com/emerging-business-technology" target="_blank">Emerging Business Tech Meetup</a></li>
            <li><a href="http://logolifter.com" title="Create new images by searching for others and combining them. Great for blog post featured images." target="_blank">Logo Lifter</a></li>
          </ul>
        </li>
-->
      </ul>
    </section><!-- #primary .aside -->
  </aside><!-- #aside-container -->

  </div><!-- #main -->

  <footer id="footer">
    <div id="poweredBy">powered by <a href="http://octopress.org" rel="nofollow" target="_blank">octopress</a> and <a href="http://github.com" rel="nofollow" target="_blank">github</a></div>
    <div id="siteinfo">
      &copy; 2011 &ndash; 2012 <a href="https://plus.google.com/106806765342241351959?rel=author">Dan Adams</a>
    </div><!-- #siteinfo -->
  </footer><!-- #footer -->

</div><!-- #wrapper -->


</body>
</html>
