{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} class="{% if page.sidebar == false %}no-sidebar{% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %}collapse-sidebar sidebar-footer{% endif %} {{ page.body_class }}">

<div id="wrapper" class="hfeed">
  
  <div id="header">
    <div id="branding">
      <div id="blog-title">
        <h1><a href="/" title="{{ site.title }}" rel="home">{{ site.title }}</a></h1>
      </div>
    </div><!--  #branding -->
    
    <div id="access">
      <div class="skip-link"><a href="#content" title="Skip navigation to the content">Skip to content</a></div><!-- .skip-link -->
        
      <div class="menu"></div>
    </div><!-- #access -->
  </div><!-- #header-->

  <div id="main">  
    <div id="container">
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div><!-- #content -->
    </div><!-- #container -->

    <aside id="aside-container">
      <section id="follow-links" class="aside">
        <label>Follow &amp; Connect</label>

        <ul>
          <li class="twitter"><a href="http://twitter.com/#!/danadams" title="@danadams on Twitter" target="_blank"><span>@danadams</span></a></li>
          <li class="linkedin"><a href="http://www.linkedin.com/in/mrdanadams" title="Dan adams Linked In Profile" target="_blank"><span>Linked In</span></a></li>
          <!-- li class="facebook"><a href="http://www.facebook.com/mrdanadams" title="Dan Adams Facebook Profile" target="_blank"><span>Facebook</span></a></li -->
          <!-- li class="github"><a href="https://github.com/mrdanadams" title="Dan Adoms on github" target="_blank"><span>github</span></a></li -->
          <li class="rss"><a href="/feed" title="Dan Adams Post RSS feed"><span>RSS</span></a></li>
          <!-- li class="cantina"><a href="http://cantina.co/author/dadams" title="Where I work: Cantina Consulting" target="_blank"><span>Cantina Consulting</span></a></li -->
      </ul>
    </section>

    <section id="about-box" class="aside">
      <h3>About Dan</h3>
      <span class="avatar"></span>

      <p>I am a software engineer and consultant living and working in Boston at <a href="http://cantina.co" target="_blank" rel="nofollow">Cantina Consulting</a>.</p>
      <!-- p>My focus is emerging technology including Grails, Ruby/Rails, NoSQL, JVM languages, Mobile/Tablet, CSS, and JavaScript.</p -->
    </section>

    <section id="primary" class="aside main-aside">
      <ul class="xoxo">
        <li class="widgetcontainer widget_featured_post_widget">
          <p class="featured-title">
            <a href="/2012/your-career-is-a-business/" title="What every software engineer should know: your career is a business"><span>What every software engineer should know: your career is a business</span></a>
          </p>
          <a href="/2012/your-career-is-a-business/">{% thumbnail /images/career_growth.png 150x150 %}</a>
          <p>Your career is a business and you should manage it like one. There is a lot to being a great software engineer and therein lies the problem: a focus on the technical (which is important, clearly) but a neglect of business, communication, and management skills needed to be your own career advisor. Without these skills many great, passionate engineers find themselves at a disadvantage working for too little pay or enjoyment.</p>
        </li>

        <li class="widgetcontainer widget_links">
          <h3 class="widgettitle">Projects</h3>

          <ul class='xoxo blogroll'>
            <li><a href="http://abnqe.com" rel="me" title="Browse your Netflix instant queue visually and search for titles" target="_blank">abnqe (A Better Netflix Queue Experience)</a></li>
            <li><a href="http://www.meetup.com/emerging-business-technology" target="_blank">Emerging Business Tech Meetup</a></li>
            <li><a href="http://logolifter.com" rel="me" title="Create new images by searching for others and combining them. Great for blog post featured images." target="_blank">Logo Lifter</a></li>
          </ul>
        </li>
      </ul>
    </section><!-- #primary .aside -->
  </aside><!-- #aside-container -->

  </div><!-- #main -->

  <footer id="footer">
    <div id="siteinfo">&copy; 2011 &ndash; 2012 Dan Adams</div><!-- #siteinfo -->
  </footer><!-- #footer -->

</div><!-- #wrapper -->


</body>
</html>
