---
layout: default
single: true
body_class: single
---

<article class="hentry" role="article">

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_hackernews"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_compact"></a>
</div>
<!-- AddThis Button END -->

  {% include article.html %}

  <div id="cta">
    <p>I&apos;m a Boston-based software engineer and consultant. Follow me <a href="https://twitter.com/danadams" title="Dan Adams">@danadams</a> or <a href="http://www.linkedin.com/in/mrdanadams" title="Dan Adams">connect with me</a>.</p>
  </div>

  <div id="disqusThread"></div>

  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script async type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=danadams"></script>

{% if site.disqus_short_name and page.comments != false %}
<script type="text/javascript">
  var disqus_shortname = '{{ site.disqus_short_name }}';
  var disqus_container_id = 'disqusThread';
  // var disqus_developer = 1;
  var disqus_identifier = '{{ site.url }}{{ page.url }}';
  var disqus_url = '{{ site.url }}{{ page.url }}';
  var disqus_script = 'embed.js';
  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
{% endif %}


</article>
