---
layout: default
single: true
body_class: single
---

<div id="cta" data-ga-event="mouseover:cta-hover">
  <p>I&apos;m Co-Founder &amp; CTO of <a href="http://www.coeverywhere.com/" title="Local social">CO Everywhere</a>. <a href="https://twitter.com/danadams" title="Dan Adams" class="twitter" data-ga-event="connect-twitter-cta">Follow me</a>, <a href="http://www.linkedin.com/in/mrdanadams" title="Dan Adams" class="linkedin" data-ga-event="connect-linkedin-cta">connect with me</a>, or <a href="http://feeds.feedburner.com/MisterDanAdams" title="Dan Adams" class="rss" data-ga-event="connect-rss-cta"><span>subscribe</span></a>.</p>
</div>

<div id="content"><article class="hentry" role="article">
  {% include article.html %}

  <div id="disqusThread"></div>

  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script async type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=danadams"></script>

{% if site.disqus_short_name and page.comments != false %}
<script type="text/javascript">
  var disqus_shortname = '{{ site.disqus_short_name }}';
  var disqus_container_id = 'disqusThread';
  // var disqus_developer = 1;
  var disqus_identifier = '{{ site.url }}{{ page.url }}';
  var disqus_url = '{{ site.url }}{{ page.url }}';
  var disqus_script = 'embed.js';
  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
{% endif %}


</article></div>
